/*-- scss:defaults --*/
$h1-font-size:          2rem !default;
$h2-font-size:          4rem !default;
$headings-font-weight:  500 !default;
$font-family-serif: Georgia, Times, serif !default;
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-serif !default;
$headings-font-family: $font-family-sans-serif !default;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
    text-align: left;
}